.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-weight: bold;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

#box4 {
    background-color: orange;
}